<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @music.title %>
</p>

<p>
  <b>Description:</b>
  <%= @music.description %>
</p>

<p>
  <b>Price:</b>
  <%= @music.price %>
</p>

<p>
  <b>Image url:</b>
  <%= @music.image_url %>
</p>


<%= link_to 'Edit', edit_music_path(@music) %> |
<%= link_to 'Back', musics_path %>
