<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Musics: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'default' %>
</head>
<body>
	
    <div id="page">
      <div id="header">HipHop Store</div>
      <div id="nav">
        <div style="float:left;text-align:left">
		
          <%= link_to_unless_current "Home",  :controller => "musics", 
                                                 :action => "index" %> | 
          <%= link_to_unless_current "About Us",:controller => "site", 
                                                 :action => "about" %> |
          <%= link_to_unless_current "Contact Us",:controller => "site", 
                                                 :action => "contact" %>
        </div>
        <div style="text-align:right">
        
		  <%= link_to_unless_current "Cart",  :controller => "cart", 
                                                 :action => "index" %> | 
          <% unless session[:login] %>
            <%= link_to_unless_current "Admin", :controller => "user", 
                                                   :action => "admin_login" %>
          <% else %>
            <%= link_to_unless_current "Logout", :controller => "user", 
                                                    :action => "logout" %>
          <% end %>
        </div>
      </div>
      <div id="content">
      	<% if flash[:notice] -%>
        	<p style="color: green"><%= flash[:notice] %></p>
		<% end -%>
        <%= yield %>
      </div>
    </div>

</body>
</html>